* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 242, 234);
    color: rgb(25, 24, 22);
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 45px;
    background-color: rgb(246, 242, 234);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2 {
    background-color: rgb(25, 24, 22);
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding: 8px 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 12px;
}

.nav-lists {
    margin: 0 8px;
    background-color: rgb(196, 77, 43);
    /* padding: 10px 5px; */
    border-radius: 5px;
}

.nav-lists a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-decoration: none;
    color: rgb(246,242,234);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.nav-lists a:hover {
    background-color:  rgb(182, 162, 158);
    color: white;
}


/* Hero Section */

.hero-section {
    background-color: rgb(246, 242, 234);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}


/* Hero Content */

.hero-content {
    width: 50%;
}

.availability {
    color: rgb(196, 77, 43);
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    left: -20px;
}

.hero-heading {
    font-size: 58px;
    line-height: 1;
    margin-bottom: 25px;
    position: relative;
    left: -20px;
}

.hero-heading span {
    color: rgb(196, 77, 43);
    font-style: italic;
}

.hero-para {
    font-size: 17px;
    max-width: 550px;
    margin-bottom: 30px;
    line-height: 1.6;
    color: rgb(90, 87, 81);
}


/* Buttons */
#btn1,
#btn2 {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 8px 0 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#btn1 {
    background-color: rgb(25, 24, 22);
    color: white;
    border: 2px solid rgb(25, 24, 22);
}

#btn1:hover {
    background-color: rgb(196, 77, 43);
    border-color: rgb(196, 77, 43);
}

#btn2 {
    background-color: transparent;
    border: 2px solid rgb(25, 24, 22);
    color: rgb(25, 24, 22);
}

#btn2:hover {
    background-color: rgb(25, 24, 22);
    color: white;
}


/* Right Side */

.hero-img {
    width: 40%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-box {
    width: 320px;
    height: 360px;
    background-color: rgb(215, 197, 166);
    border-radius: 0 70px 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-box h2 {
    font-size: 80px;
    color: rgb(246, 242, 234);
}


/* Badge */

.work-badge {
    position: fixed;
    bottom: 25px;
    right: 20px;
    background-color: rgb(196, 77, 43);
    color: white;
    padding: 10px 15px;
   font-size: 11px;
    letter-spacing: 1px;
}

